body{
    font-family:'Lucida Sans Unicode', sans-serif;
    background-color: #ffffff;
    color:#000000;
    margin:0;
    text-wrap:balance;
    display: flex;
    flex-direction: column;
}

a{
    color:#000000;
    text-decoration: none;
}

body:after{
    color:#675c5a;
    background-color: #78706e;
}

.navbar-container{
    position: sticky;
    top:0;
   /* background-color:#78706e;*/
    display: flex;
    width: 95%;
    max-height: 60px;
    justify-content: space-between;
    align-items: center;
    margin:1% auto;
    border-radius:10px;
   /* border:0.2em solid #746866;*/
   /* box-shadow: 2px 2px 5px #544a48;*/
}

.navbar-left{
    margin-left:2%;
}

.navbar-right{
    display: flex;
    margin-right:20px;
    

}

.navbar-right p{
    margin-right:25px;
}

.header{
    width: 50%;
    background-color: #ffffff;
    border-radius:10px;
    /*border:0.2em solid #78706e;*/
   /* box-shadow: 2px 2px 5px #544a48;*/
    text-align: center;
    margin:2% auto;
}

.header h1{
    margin:2% 12%;
    color:#5cbdb5;
}

.header p{
    margin:2% 12%;
    font-weight: 600;
}

.about-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;
    background-color: #ebf6f5;
    border-radius:10px;
    margin:4% auto;
}

.about h2{
    margin:0;
}

.about{
    display: flex;
    flex-direction: column;
    margin:2% 7% 0.5% 7%;
}

.about p{
    text-align: justify;
}

.skills{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    max-height: inherit;
    list-style:square;
    margin:0.5% 7% -20% 7%;
}

.skills ul{
    column-count: 3;
    columns:150px  auto;
}

.portfolio-header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin:4% auto 0 auto;
}

.portfolio-header h4{
    font-size:20px;
}

.projects{
    background-color: #ebf6f5;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;
    max-height: 1000px;
    margin:0 auto 4% auto;
    border-radius:10px;
}

.projects button{
    background-color: #ffffff;
    height: 75px;
    width: 75px;
    text-wrap:balance;
    font-size:200%;
    border:1px solid #5cbdb5;
    box-shadow: 1px 2px 2px #5cbdb5;
    border-radius: 10px;
    margin:20px;
    transition: 0.15s;
}

.projects button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.projects-container{
    margin:3% auto;
    width: 50%;
    line-height: 30px;
}

hr{
    width: 99%;
    border: 1px solid #5cbdb5;
}

.project{
    margin:3%;
    transition: transform 0.4s;

}

.project:active{
    transform: scale(1.0);
}

/*.project:hover{
    transform: scale(1.1);
}*/

.seeWeb{
    color:blue;
    font-weight: 700;
}

.contact-container{
    display: flex;
    flex-direction: column;
    margin: 4% auto;
    width: 100%;
}

.contact{
    display: flex;
    justify-content: center;
}

.form{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #ebf6f5;
    width: 25%;
    margin:auto;
    height: 100%;
    border-radius: 15px;
    padding:1% 0;
}

.form h2{
    text-align: center;
    margin:0 0 20px 0;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

input[type=text],[type=email]{
    width: 80%;
    padding: 2% 4%;
    margin: 2% 0;
    border: 1px solid #5cbdb5;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:'Lucida Sans Unicode', sans-serif;
    
}

.msg{
    display: flex;
    text-wrap:balance;
    width: 80%;
    height: 50px;
    padding: 2% 4%;
    margin: 2% 0;
    border: 1px solid #5cbdb5;
    border-radius: 4px;
    box-sizing: border-box;
    font-family:'Lucida Sans Unicode', sans-serif;
}

input[type=submit]{
    display: flex;
    width: 40%;
    background-color: #5cbdb5;
    color: #000000;
    padding: 2% 4%;
    margin: 3% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size:15px;
}

input::placeholder{
    font-size:15px;
    text-align: left;
}

.footer{
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    bottom: 0;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 30%;
    height: 50px;
}

.social img{
    height: 100%;
}